CLZ.Solution/CLZ/Service References/CLZService/CommonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CLZ.BLLService" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CLZ.Common" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model.common" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model.Sys" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7632/CommonService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model.CLZ" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CLZ.BLLService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CLZ.BLLService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSamples">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSamplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="getAllSamplesResult" nillable="true" type="q3:ArrayOfSysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q4:SysSample" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q5:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSampleResult" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q6:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysSampleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysSampleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="getSysSampleByIdResult" nillable="true" type="q7:SysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q8:SysSample" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q9:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResult" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q10:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q11:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q12:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q13:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetListResult" nillable="true" type="q14:ArrayOfSysSample" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q15:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByModuleIdAndUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByModuleIdAndUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetMenuByModuleIdAndUserIdResult" nillable="true" type="q16:ArrayOfSysModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetModuleListResult" nillable="true" type="q17:ArrayOfSysModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleByParentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleByParentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetModuleByParentIdResult" nillable="true" type="q18:ArrayOfSysModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="entity" nillable="true" type="q19:SysModule" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q20:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateModuleResult" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q21:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q22:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleResult" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q23:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="entity" nillable="true" type="q24:SysModule" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q25:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditModuleResult" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q26:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetModuleByIdResult" nillable="true" type="q27:SysModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModuleExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModuleExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsModuleExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleOperateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q28:GridPager" />
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleOperateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetModuleOperateListResult" nillable="true" type="q29:ArrayOfSysModuleOperate" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q30:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModuleOperate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q31:SysModuleOperate" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q32:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModuleOperateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateModuleOperateResult" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q33:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleOperateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q34:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleOperateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleOperateByIdResult" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q35:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleOperateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleOperateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetModuleOperateByIdResult" nillable="true" type="q36:SysModuleOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModuleOperateExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModuleOperateExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsModuleOperateExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="controller" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CLZ.Model.Sys" minOccurs="0" name="GetPermissionResult" nillable="true" type="q37:ArrayOfpermModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q38:GridPager" />
        <xs:element minOccurs="0" name="queryStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysRoleListResult" nillable="true" type="q39:ArrayOfSysRole" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q40:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q41:SysRole" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q42:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSysRoleResult" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q43:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q44:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSysRoleResult" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q45:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSysRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q46:SysRole" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q47:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSysRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSysRoleResult" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q48:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysRoleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysRoleByIdResult" nillable="true" type="q49:SysRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSysRoleExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSysRoleExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSysRoleExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLogList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q50:GridPager" />
        <xs:element minOccurs="0" name="queryStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysLogListResult" nillable="true" type="q51:ArrayOfSysLog" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q52:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLogById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysLogByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysLogByIdResult" nillable="true" type="q53:SysLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q54:SysLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysExceptionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q55:GridPager" />
        <xs:element minOccurs="0" name="queryStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysExceptionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysExceptionListResult" nillable="true" type="q56:ArrayOfSysException" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q57:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysExceptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysExceptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysExceptionByIdResult" nillable="true" type="q58:SysException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q59:SysRightOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightByRoleAndModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightByRoleAndModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetRightByRoleAndModuleResult" nillable="true" type="q60:ArrayOfP_Sys_GetRightByRoleAndModule_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q61:GridPager" />
        <xs:element minOccurs="0" name="queryStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysUserListResult" nillable="true" type="q62:ArrayOfSysUser" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q63:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q64:SysUser" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q65:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSysUserResult" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q66:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q67:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSysUserResult" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q68:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q69:SysUser" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q70:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSysUserResult" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CLZ.Common" minOccurs="0" name="error" nillable="true" type="q71:ValidationError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetSysUserByIdResult" nillable="true" type="q72:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSysUserExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSysUserExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSysUserExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q73:GridPager" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetRoleByUserIdResult" nillable="true" type="q74:ArrayOfP_Sys_GetRoleByUserId_Result" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q75:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleSysUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleIds" nillable="true" type="q76:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleSysUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysRoleSysUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefSysUserByRoleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefSysUserByRoleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetRefSysUserByRoleIdResult" nillable="true" type="q77:ArrayOfSysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByRoleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q78:GridPager" />
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByRoleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetUserByRoleIdResult" nillable="true" type="q79:ArrayOfP_Sys_GetUserByRoleId_Result" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q80:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleSysUserByRoleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q81:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSysRoleSysUserByRoleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSysRoleSysUserByRoleIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="LoginResult" nillable="true" type="q82:SysUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_wx_service_points_ByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_wx_service_points_ByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="get_wx_service_points_ByNameResult" nillable="true" type="q83:wx_service_points" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductCartList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductCartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXProductCartListResult" nillable="true" type="q84:ArrayOfwx_product_cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="compareDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXProductOrderInfoResult" nillable="true" type="q85:ArrayOfsp_wx_getOrderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderInfoByAddressId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="addressName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderInfoByAddressIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CLZ.Model.CLZ" minOccurs="0" name="GetWXProductOrderInfoByAddressIdResult" nillable="true" type="q86:ArrayOfProductOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderTableInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q87:GridPager" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="compareDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductOrderTableInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXProductOrderTableInfoResult" nillable="true" type="q88:ArrayOfsp_wx_getOrderInfo_Result" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q89:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="compareDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXCustomerInfoResult" nillable="true" type="q90:ArrayOfsp_wx_getCustomerInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXSingleCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXSingleCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXSingleCustomerInfoResult" nillable="true" type="q91:ArrayOfwx_customer_order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerRateOfPurchaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerRateOfPurchaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CLZ.Model.CLZ" minOccurs="0" name="GetWXCustomerRateOfPurchaseInfoResult" nillable="true" type="q92:ArrayOfPurchaseRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerInfoByBuyTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buyTimes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXCustomerInfoByBuyTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CLZ.Model.CLZ" minOccurs="0" name="GetWXCustomerInfoByBuyTimesResult" nillable="true" type="q93:ArrayOfCustomerOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductSaleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="compareDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductSaleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXProductSaleInfoResult" nillable="true" type="q94:ArrayOfsp_wx_getProductInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductCategoryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXProductCategoryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXProductCategoryInfoResult" nillable="true" type="q95:ArrayOfsp_wx_getProductCategoryInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXPagingProductSaleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q96:GridPager" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="compareDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXPagingProductSaleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXPagingProductSaleInfoResult" nillable="true" type="q97:ArrayOfsp_wx_getProductInfo_Result" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q98:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXSingleProductSaleInfoByNameAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXSingleProductSaleInfoByNameAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXSingleProductSaleInfoByNameAndDateResult" nillable="true" type="q99:ArrayOfsp_wx_getSingleProductSaleInfoByNameAndDate_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXRegionProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXRegionProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXRegionProductInfoResult" nillable="true" type="q100:ArrayOfsp_wx_getRegionProductInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXMonthlyProductOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWXMonthlyProductOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetWXMonthlyProductOrderInfoResult" nillable="true" type="q101:ArrayOfsp_wx_getMonthlyProductInfoByAddressId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>