CLZ.Solution/CLZ/Service References/CLZService/CommonService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CLZ.Model.Sys" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CLZ.Model.Sys" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpermModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permModel" nillable="true" type="tns:permModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpermModel" nillable="true" type="tns:ArrayOfpermModel" />
  <xs:complexType name="permModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="permModel" nillable="true" type="tns:permModel" />
</xs:schema>