CLZ.Solution/CLZ/Service References/CLZService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7632/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CLZ.BLLService" />
  <xs:import schemaLocation="http://localhost:7632/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model" />
  <xs:import schemaLocation="http://localhost:7632/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CLZ.Model.common" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CLZ.BLLService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CLZ.BLLService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSamples">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSamplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="getAllSamplesResult" nillable="true" type="q3:ArrayOfSysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q4:SysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSampleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysSampleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysSampleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="getSysSampleByIdResult" nillable="true" type="q5:SysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="model" nillable="true" type="q6:SysSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q7:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetListResult" nillable="true" type="q8:ArrayOfSysSample" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CLZ.Model.common" minOccurs="0" name="pager" nillable="true" type="q9:GridPager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByParentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByParentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CLZ.Model" minOccurs="0" name="GetMenuByParentIdResult" nillable="true" type="q10:ArrayOfSysModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>